nav {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content:center ;
  text-decoration: none;
  color: #e85a33;
}

nav .logo {
  color: #e85a33;
  font-style: italic;
  /* font-weight: 300; */
  font-size: x-large;
  font-family: sans-serif;
  /* padding: 1rem; */
}
body {
  background-color: #eadbc8;
}

.container{
   background-color: #f0af4d;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  position: relative;
 align-items: center;

}

.heading{
    display: flex;
    align-items: center;
}
